.custom_deck{
    margin-left: 25px;
    margin-right: 0;
}

.cart-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    display:inline-block;
    right: 20px;
    bottom: 20px;
    padding: 25px;
}

.cart-level-badge {
    font-size: 0.7rem;
    padding: 5px;
    top: -12px !important;
    position:absolute;
    right:10px;
}

