.sign-in {
    width: 35%;
    min-width: 275px;
    margin: 5vw 7vw 7vw;

    .title {
        margin: 10px 0;
    }

    .buttons {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        .btn{
            padding: 15px 30px;
        }

        .btn-dark:hover {
            background-color: white;
            color: black;
        }

        .btn-custom{
            background: linear-gradient(to right, #5f2c82, #AAFFA9);
            color: white;
        }

        .btn-custom:hover{
            background: none;
            color: purple;
            border-color: purple;
        }
    }
}